.caja1 p{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
    font-size: larger;
}

.caja1:hover{
    transform: translate(300px,200px);
}

.caja2{
    border: 2px dotted red;
    margin-top: 50px;
    padding: 30px 20px 10px 40px;
    position: relative;
    top: 300px;
}

.caja2:hover{
transform: scale(2,2);
}

p{
    background-color: coral;

}

p::first-line{
    color: darkcyan;
}

.caja3 p{
    color: blue;
    font-size: 25px;
}

.caja3 p:first-child{
    color: blueviolet;
    font-size: 35px;
}

.caja3 p:nth-child(even){
    color: yellow;
    font-size: 45px;
}

.caja3:hover{
    transition: background-color 5s ease-out;
    
}

a:hover{
    background-color: deeppink;
}

