*{
margin: 10px;

}

h1{
    color:coral;
    background-color: black;
}

p{
    color: brown;
    font-size: 25px;
}

.parrafo{
    color: blue;
    font-size: 30px;
    font-style: oblique;

}

#identificador{
    color: fuchsia;
    font-size: 35px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.masfuerte{
    color:aqua !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caja1{
    width: 150px;
    height: 125px;
    background-color: dodgerblue;
}

.caja2{
    width: 20em;
    height: 20em;
    background-color: hotpink;
}

.caja3{
    width: 50vw;
    height: 50vh;
    background-color: brown;

}

.caja4{
width: 25vw;
height: 25vh;
background-color: rgb(200, 0, 250, 0.05) ;
}

.caja5{
    width: 50vw;
    height: 50vh;
    background-image: url(/Asset/237-536x354.jpg);
}

.img{
width: 50px;
height: 50px;
}
