/*Hoja de style*/

/*Selector universal*/

*{
    margin: 30px;
    background-color: pink;
}


/*Selector de etiquetas*/ 


h4{

  color:red;
  background-color: black;

}

span{
    background-color: darkgreen;
}

div{
background-color: aquamarine;
}

/*Selector de class--utiliza punto*/

.titulo{
    color: chartreuse;
    background-color: darksalmon;
}


/*Selector de ID--utiliza numeral*/

#otroh4{
    color: coral;
    background-color: darkorchid;
}

