*{
    background-color: rgb(245, 208, 214);
}

.container{
    width: 90vw;
    height: 70vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.caja1{
    width: 25vw;
    height: 25vh;
    background-color: orange;
    border: 1px solid black;
}

.caja2{
    width: 25vw;
    height: 25vh;
    background-color: orange;
    border: 1px solid black;
}

.caja3{
    width: 25vw;
    height: 25vh;
    background-color: orange;
    border: 1px solid black;
}

